@model IEnumerable<Student>

                @if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
    <h2>Liste des Étudiants</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom de famille</th>
                <th>Âge</th>
                <th>Spécialité</th>
                <th>Date d'admission</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model) {
            <tr>
                <td>@student.Firstname</td>
                <td>@student.Lastname</td>
                <td>@student.Age</td>
                <td>@student.Major</td>
                <td>@student.AdmissionDate</td>
                <td>
                    <a asp-controller="Student" asp-action="ShowDetails" asp-route-id="@student.Id">Détails</a
                    >
                </td>
            </tr>
            }
        </tbody>
    </table>
    </Student>
