@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Event> 

@if (!User.Identity.IsAuthenticated){
    

<div class="text-center">

    <h1 class="display-4">Bienvienue </h1>
    <h3>Veuillez vous connecter ou vous inscrire pour acceder aux informations</h3>
</div>
}
    @if (User.Identity.IsAuthenticated){
        <div class="text-center">
                        @if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
} 
<h1 class="display-4">Bienvienue</h1>
    <h3 class="display-8">Voici les prochains événements :</h3>

<table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Nombre des personnes max</th>
                <th>Lieu</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var evnt in Model) {
            <tr>
                <td>@evnt.Title</td>
                <td>@evnt.EventDate</td>
                <td>@evnt.MaxParticipants</td>
                <td>@evnt.Location</td>
             
            </tr>
            }
        </tbody>
    </table>
    </div>
    }